body{
    /*background: url( "./Tom\'s_Restaurant,_Manhattan.jpg");*/
}
#content{
   height: auto;
}
.navButton{
    background: aquamarine;
    margin: auto;
}
#TaskBar{
    display: grid;
    margin: auto;
    grid-template-columns: 76px 76px 76px;
    padding-left: 50%;
    margin-left: -114px;
}

img#left{
    float:left;
}

img#right{
    float:right;
}

.bodyDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    text-align: center;
    height: auto;
    padding: 15px;
    width: 400px;
    background: orangered;
}
.subBodyDiv{
    border:aquamarine;
    border-style: solid;
}
.imageCenter{
    margin-left: auto;
    margin-right: auto;
}